body{
  background-color: blue;
}
.titre{
      text-align: center;
      font-size: 800%;
      font-family: 'Jomhuria', cursive;
}

.main{

}
.bottom{

}
.button{

}

.test{
  background-color: blue;
}
