.menu{

}
.menu ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.menu li{
  display: inline-block;
  margin-right: 43px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
}
.main{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/74827e36447127.571d22a7c24c4.jpg");
  height: 510px;
  min-height: 50%;
  background-position: center;
  margin-top: 20px;
  background-size: 100%;
}
.titre-container{
  margin-top: 13px;
  display: inline-block;
  width: 100%
}
.titre{
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  font-family: arial;
  color:#FFFFFF;
}
.gauche{
  float:left;
  margin-left: 5%;
}
.droite{
  float:right;
  margin-right:5%
}
.description{
  max-width: 200px;
  min-width: 150px;
  margin-top: 4%;
  background-color:rgba(243, 176, 126, 0.63);
  border-radius: 20px;
  color: #00000000;
  padding: 10px;
  border:1px solid;
}
.description p{
  font-size: 21px;
  font-weight: bold;
}
.icon{
  text-align: center;
  font-size: xx-large;
}
.autres h1 {
  text-align: center;
}
.assoc{
  display: flex;
}
.assoc img{
  width: 45%;
}
.assoc,.img img{
  float: left;
}
.assoc-description{

}
.assoc-right, .assoc-description {
  float: right;
}
