.menu{

}
.menu ul{

}
.menu li{
    text-align: center;
}
.main{
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/74827e36447127.571d22a7c24c4.jpg");
  height: 510px;
  min-height: 50%;
  background-position: center;
  margin-top: 20px;
  background-size: 100%;
}
.titre-container{
  margin-top: 13px;
  display: inline-block;
  width: 100%
}
.titre{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: arial;
}
.gauche{
  float:left;
  margin-left: 5%;
}
.droite{
  float:right;
  margin-right:5%
}
.description{
  max-width: 200px;
  min-width: 150px;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.72);
  border-radius: 20px;
  color: white;
  padding: 10px;
}
.description p{
  font-size: 21px;
  font-weight: bold;
}
.icon{
  text-align: center;
  font-size: xx-large;
}
