h1,h2,h3{
    color:#6F997C;
    text-align: center;
}
h4,h5,h6{
    color:#d7ffaa;
    text-align: center;
}
p{
  color:grey;
  font-family: arial;
}
body{
    color:#4A00CC;
    padding-left: 10px;
    padding-right: 10px;
}
ul{
    color: #7A2ECC;
}
ol{
    color:#E593FF ;
}
table,th,td{
    color:black;
    border-color:#7A2ECC;
    border: 2px solid #00edff;
    border: 2px solid #a1b6ff;
    border-radius: 5px;
    padding: 9px;
}
